#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    margin: 2px;
    padding: 5px 10px;
    border-radius: 5px;
}

.p-menu {
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #D4D4D4;
}

.s-menu>li {
    text-align: center;
    border: 1px solid #D4D4D4;
}