<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.artist.core.dao.system.MenuMapper">

    <sql id="menuList">
        `id`, `name`, `url`, `sort`, `is_leaf` AS isLeaf, `parent_id` AS parentId, `status`
    </sql>

    <resultMap id="menuListMap" type="Menu">
        <id column="id" property="id"></id>
        <collection property="children" select="selChildMenuByParentId" column="id"></collection>
    </resultMap>

    <select id="selMenuByUserId" resultMap="menuListMap">
        SELECT <include refid="menuList"></include> FROM t_menu WHERE is_leaf=0
    </select>
    <select id="selChildMenuByParentId" resultType="Menu">
        SELECT <include refid="menuList"></include> FROM t_menu WHERE parent_id=#{parentId}
    </select>

    <!--<resultMap id="menuMap" type="code.artist.core.model.system.Menu" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="is_leaf" property="isLeaf" />
        <result column="parent_id" property="parentId" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="description" property="description" />
    </resultMap>

    <insert id="insMenu" parameterType="code.artist.core.model.system.Menu">
        INSERT INTO t_menu (<include refid="menuList"></include>) VALUES (#{id},#{name},#{url},#{sort},#{isLeaf},#{parentId},#{status},#{createUser},#{createTime},#{updateUser},#{updateTime},#{description})
    </insert>

    <select id="selMenuList" resultMap="menuMap">
        SELECT <include refid="menuList"></include> FROM t_menu
    </select>

    <update id="updMenuById" parameterType="code.artist.core.model.system.Menu">
        UPDATE t_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name !=''">
                `name`=#{name},
            </if>
            <if test="url != null and url !=''">
                `url`=#{url},
            </if>
            <if test="sort != null and sort !=''">
                `sort`=#{sort},
            </if>
            <if test="isLeaf != null and isLeaf !=''">
                `is_leaf`=#{isLeaf},
            </if>
            <if test="parentId != null and parentId !=''">
                `parent_id`=#{parentId},
            </if>
            <if test="status != null and status !=''">
                `status`=#{status},
            </if>
            <if test="createUser != null and createUser !=''">
                `create_user`=#{createUser},
            </if>
            <if test="createTime != null">
                `createTime`=#{create_time},
            </if>
            <if test="updateUser != null and updateUser !=''">
                `update_user`=#{updateUser},
            </if>
            <if test="updateTime != null">
                `updateTime`=#{update_time},
            </if>
            <if test="description != null and description !=''">
                `description`=#{description},
            </if>
        </trim>
        WHERE `id`=#{id}
    </update>-->

</mapper>