<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.artist.core.dao.system.MenuMapper">

    <sql id="menuList">
        `id`,`name`,`url`,`sort`,`is_leaf`,`parent_id`,`status`,`create_user`,`create_time`,`update_user`,`update_time`,`description`
    </sql>

    <resultMap id="menuListMap" type="Menu">
        <id column="id" property="id"></id>
        <collection property="children" select="selChildMenuByParentId" column="{parentId=id,userId=userId}"></collection>
    </resultMap>

    <select id="selMenuByUserId" resultMap="menuListMap">
        SELECT m.`id`,m.`name`,m.`url`,m.`sort`,m.`is_leaf` AS isLeaf,m.`parent_id` AS parentId,m.`status`,u.id AS userId
        FROM t_menu m
        LEFT JOIN t_role_menu rm ON rm.menu_id = m.id
        LEFT JOIN t_role r ON r.id = rm.role_id
        LEFT JOIN t_user_role ur ON ur.role_id = r.id
        LEFT JOIN t_user u ON u.id = ur.user_id
        WHERE m.is_leaf = 0 AND u.id = #{userId} AND m.status=1
        ORDER BY m.sort
    </select>
    <select id="selChildMenuByParentId" resultType="Menu">
        SELECT m.`id`,m.`name`,m.`url`,m.`sort`,m.`is_leaf` AS isLeaf,m.`parent_id` AS parentId,m.`status`
        FROM t_menu m
        LEFT JOIN t_role_menu rm ON rm.menu_id = m.id
        LEFT JOIN t_role r ON r.id = rm.role_id
        LEFT JOIN t_user_role ur ON ur.role_id = r.id
        LEFT JOIN t_user u ON u.id = ur.user_id
        WHERE m.is_leaf = 1 AND u.id = #{userId} AND m.parent_id=#{parentId} AND m.status=1
        ORDER BY m.sort
    </select>

    <resultMap id="menuMap" type="Menu" >
        <id column="id" property="id" />
        <collection property="children" select="selChildrenByParentId" column="id"></collection>
    </resultMap>

    <insert id="insEntity" parameterType="Menu">
        INSERT INTO t_menu (<include refid="menuList"></include>) VALUES (#{id},#{name},#{url},#{sort},#{isLeaf},#{parentId},1,#{createUser},#{createTime},#{updateUser},#{updateTime},#{description})
    </insert>

    <select id="selEntityList" resultMap="menuMap">
        SELECT <include refid="menuList"></include> FROM t_menu WHERE status=1 AND is_leaf=0 ORDER BY sort
    </select>
    <select id="selChildrenByParentId" resultMap="menuMap">
        SELECT <include refid="menuList"></include> FROM t_menu WHERE status=1 AND is_leaf=1 AND parent_id=#{id} ORDER BY sort
    </select>
    <select id="selRoleMenuByRoleId" resultType="java.lang.Integer">
        SELECT menu_id AS id FROM t_role_menu WHERE role_id=#{roleId}
    </select>
    <delete id="delRoleMenuByRoleId">
        DELETE FROM t_role_menu WHERE role_id=#{roleId}
    </delete>
    <insert id="insRoleMenu">
        INSERT INTO t_role_menu (id,role_id,menu_id) VALUES
        <foreach collection="menuIds" item="menu" separator=",">
            (DEFAULT,#{roleId},#{menu})
        </foreach>
    </insert>

    <update id="updEntityById" parameterType="Menu">
        UPDATE t_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name !=''">
                `name`=#{name},
            </if>
            <if test="url != null and url !=''">
                `url`=#{url},
            </if>
            <if test="sort != null">
                `sort`=#{sort},
            </if>
            <if test="isLeaf != null">
                `is_leaf`=#{isLeaf},
            </if>
            <if test="parentId != null">
                `parent_id`=#{parentId},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="createUser != null and createUser !=''">
                `create_user`=#{createUser},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
            <if test="updateUser != null and updateUser !=''">
                `update_user`=#{updateUser},
            </if>
            <if test="updateTime != null">
                `update_time`=#{updateTime},
            </if>
            <if test="description != null and description !=''">
                `description`=#{description},
            </if>
        </trim>
        WHERE `id`=#{id}
    </update>

</mapper>