<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd
            ">
    <!-- 系统接口 -->
    <dubbo:reference interface="com.gofun.credit.core.config.service.system.IConfigService" id="configService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.core.config.service.system.ITokenService" id="tokenService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.config.service.redis.IRedisCache" id="redisCache" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.config.service.redis.IRedisListOpsService" id="redisListOpsService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.config.service.system.IThirdpartChannelService" id="thirdpartChannelService" check="false"/>


    <!--发送消息接口-->
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IPhoneMessageMQProducerService"  id="phoneMessageMQProducerService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IThirdChannelMQProductService"   id="thirdChannelMQProducerService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IZhimaChannelMQProductService"   id="zhimaChannelMQProductService" check="false"/>
     <!-- 百荣MQ -->
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IBaiRongChannelMQProductService"  id="baiRongChannelMQProductService" check="false"/>
	<!-- 宜信MQ -->
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IYinXinChannelMQProductService"   id="yiXinChannelMQProductService" check="false"/>
    <!--新颜MQ-->
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IXinYanChannelMQProductService"   id="xinYanChannelMQProductService" check="false"/>
	<!-- 榕树MQ -->
	<dubbo:reference interface="com.gofun.credit.core.config.service.notify.IRongShuNoticeChannelMQProductService" id="rongShuChannelMQProductService" check="false"/>
    <!-- 榕树风控MQ -->
	<dubbo:reference interface="com.gofun.credit.core.config.service.notify.IRongShuRiskMQProductService" id="rongShuRiskMQProductService" check="false"/>
    <!-- 腾讯反欺诈MQ -->
	<dubbo:reference interface="com.gofun.credit.core.config.service.notify.ITencentRiskMQProductService" id="tencentRiskMQProductService" check="false"/>

    <!--白骑士相关-->
    <dubbo:reference interface="com.gofun.credit.core.riskchannel.service.whiteknight.IWhiteKnightInfoService" id="whiteKnightInfoService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.riskchannel.service.whiteknight.IWhiteKnightService" id="whiteKnightService" check="false"/>
    <dubbo:reference interface="com.gofun.credit.core.riskchannel.service.whiteknight.IWhiteKnightReportService" id="whiteKnightReportService" check="false"/>
    
    <!-- 新颜相关 -->
    <dubbo:reference interface="com.gofun.credit.core.riskchannel.service.xinyan.IXinYanService" id="xinYanService" check="false"/>

    <dubbo:reference interface="com.gofun.credit.core.riskchannel.service.bairong.IBrjfRuleListService" id="brjfRuleListService" check="false"/>


    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IXjbkChannelMQProductService" id="xjbkChannelMQProductService" check="false"  />
   
   
   
   <!--榕树相关  -->
    <dubbo:reference interface="com.gofun.credit.rongshu.core.service.IRongShuOrderService" id="rongShuOrderService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.rongshu.core.service.IRongShuDeviceService" id="rongShuDeviceService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.rongshu.core.service.IRongShuOperatorService" id="rongShuOpertorService" check="false"  />
   
   
   <!-- 用户相关 -->
    <dubbo:reference interface="com.gofun.credit.user.core.facade.IAppUserService" id="appUserService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.user.core.facade.IUserStateService" id="userStateService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.user.core.facade.IInvestUserService" id="investUserService" check="false"  />
    <dubbo:reference interface="com.gofun.credit.payment.core.facade.kjtpay.IKuaiJieTongPayService" id="kuaiJieTongPayService" check="false"  />

    <!--易盾相关-->
    <dubbo:reference interface="com.gofun.credit.core.config.service.notify.IYiDunChannelMQProductService" id="yidunChannelMQProductService" check="false"  />



</beans>