//@import './reset.scss';
@import './reset.scss';
$fontFamily:'Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
$F:font;
.fontAcess{
	#{$F}-family: $fontFamily;
    #{$F}-weight: bold;
    #{$F}-style: normal;
    #{$F}-size: 18px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
/*登录界面的样式开始*/
@mixin d-border($color) {//混合指令
  border: {
    color: $color;
    width: 1px;
    style: solid;
  }
}
@mixin bg($url){
  background:$url no-repeat;
  background-size:100% 100%;

}
.chanceGo{
  .go-btn{
    margin-top:3px;
    &>a{
      display:inline-block;
      height:40px;
      width:98px;
      background:#fea84d;
      color:#fff;
      //font-size:16px;
      font-family:$fontFamily;
      text-align:center;
      line-height:40px;
      border-radius: 4px;
      font-size: 14px;
      text-decoration: none;
      &:hover{
        opacity: .8;
      }
    }
    .last-go{
      margin-left:5px;
    }
    .left-arrow{
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      width: 30px;
      @include bg(url('../image/login/leftRow.png'));
    }
    .right-arrow{
      //margin-left:10px;
        @extend .left-arrow;
        transform: rotateY(180deg);
    }
  }
  &>h3{
    font-size:18px;
    font-family:$fontFamily;
    color:#fea84d;
    display:inline-block;
    vertical-align: middle;
    margin:10px 0;
    &:after{
      content:"";
      display:inline-block;
      width:30px;
      height:1px;
      vertical-align: middle;
      background-color:#fea84d;
      margin-left:5px;
    }
    &:before{
      content:"";
      display:inline-block;
      width:30px;
      height:1px;
      vertical-align: middle;
      background-color:#fea84d;
      margin-right:10px;
    }
  }
}
.thirdParty{
  display:flex;
  display:-webkit-flex;
  justify-content: space-between;
  margin-top: 12%;
    .qq-party{
      height:40px;
      width:40px;
      @include bg(url('../image/login/qq-nor.png'));
      cursor:pointer;
      &:hover{
        @include bg(url('../image/login/qq-light.png'))
      }
    }
    .wb-party{
      height:40px;
      width:40px;
      @include bg(url('../image/login/weibo-nor.png'));
      cursor:pointer;
      &:hover{
        @include bg(url('../image/login/weibo-light.png'))
      }
    }
    .wx-party{
      height:40px;
      width:40px;
      @include bg(url('../image/login/weixin-nor.png'));
      cursor:pointer;
      &:hover{
        @include bg(url('../image/login/weixin-light.png'))
      }
    }
}
.login-index{
    min-width: 1200px;
    background: url(../image/background.png) no-repeat;
    background-size: 100% 100%;
    //background-attachment:fixed;
    position:relative;
    border-top:1px solid transparent;
    .login-index-sh{
	    width: 350px;
	    height: 510px;
	    padding:35px;
	    background-color:#fff;
	    @include d-border(#8e8e8e);//混合指令调用；
	    position:absolute;
	    bottom: 0;
	    top:0;
	    //left:820px;
      right:14%;
	    margin:auto 0;
	    @extend .fontAcess;
      img{
        height:30px;
        width:30px;
      }
      .ant-input-group-wrapper{
        margin-top:10%;
      }
      input{
        height:45px;
      }
      .ant-btn-lg{
        width: 278px;
        margin-top: 10%;
      }
      .forgetpswd{
            font-size: 14px;
            font-family: $fontFamily;
            color:#1890ff;
            cursor: pointer;
      }
      .ant-checkbox-wrapper{
        margin-right: 19%;
      }
    }
    .login-index-lw{
      color:#fff;
      width:310px;
      min-height:120px;
      position: absolute;
      top: 60%;
      right: 47%;
      @extend .fontAcess;
       // padding-top: 380px;
       // margin-left: 405px;
      .lw-first{
        margin-bottom:5px;
        text-align:left;
      }
      big{
        display:block;
        text-align:right;
      }
      small{
        display:block;
        text-align:left;
      }
      .lw-second{
        margin-top:5px;
        text-align:left;
        font-size: 16px;
      }

    }

}
