/**
*部分组件样式；
*/

/*
*input 组件样式；
*
*/

.input{
	height: 36px;
	.input-label{
		    font-size: 18px;
		    color: #333;
		    line-height: 36px;
		    float: left;
		    display: inline;
		    //margin-left: -210px;
		    width: 200px;
		    //height: 36px;
		    text-align: right;
		    overflow: hidden;
	}
}
/**
*button组件样式
*/
.btn-component{
	button{
		width: 255px;
		height: 36px;
		font-size: 18px;
		background-color: #0096e6;
		color: #fff;
		border: none;
		-webkit-appearance: none;
		border-radius: 4px;
		outline: none;
		//cursor: pointer;
		letter-spacing: 2px;
	}
}