/**
*部分组件样式；
*/

/*
*input 组件样式；
*
*/

.input{
	height: 36px;
	.input-label{
		    font-size: 18px;
		    color: #333;
		    line-height: 36px;
		    float: left;
		    display: inline;
		    //margin-left: -210px;
		    width: 200px;
		    //height: 36px;
		    text-align: right;
		    overflow: hidden;
	}
}
/**
*button组件样式
*/
.btn-component{
	button{
		width: 255px;
		height: 36px;
		font-size: 18px;
		background-color: #0096e6;
		color: #fff;
		border: none;
		-webkit-appearance: none;
		border-radius: 4px;
		outline: none;
		//cursor: pointer;
		letter-spacing: 2px;
	}
}

/*
*carousel组件
*/
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

/*
*
*tabNav样式
*
*/
.tab-nav{
	background-color: #fff;
	width: 100%;
	padding: 10px 20px;
	font-size: 15px;
	li{
		float: left;
		margin: 0 5px;
		cursor: pointer;
		//overflow: hidden;
		&.active,&:hover{
			color: #0096e6;
			position: relative;
			transition:all 0.5s;
			&:after{
				    height: 1px;
				    position: absolute;
				    content: "";
				    width: 100%;
				    background-color: #0096e6;
				    bottom: -35%;
				    left: 0;
				    //transition:all 0.5s;
				    animation:activeAn 0.3s linear;
				    margin: 0 auto;
			}
		}

	}

}
.tabList{
		min-height:100px;
		width: 100%;
		background-color: #fff; 
		//margin-bottom: 20px;
		margin-top: 10px;
   		border-top: 1px solid transparent;
	}

@keyframes activeAn{
	0%{
		width: 0;
	}
	25%{
		width:25%;
	}
	50%{
		width: 50%;
	}
	75%{
		width: 75%;
	}
	100%{
		width:100%;
	}
}