@mixin bg($url){
  background:$url no-repeat;
  background-size:100% 100%;
}
$fontFamily:'Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
.header-nav{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #666;
	position: fixed;
	top: 0;
}
.lg-nav{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	.nav-logo{
	height: 60px;
	width: 50px;
	img{
		height: 60px;
		width: 50px;
	}
	margin-right: 25px;
	float: left;
	}
	.nav-list{
		float: left;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		font-family: $fontFamily;
		&>li{
			float: left;
			margin: 0 15px;
			&>a{
				color: #111;
				text-decoration: none;
			}
		}
		.navActive{
			border-bottom:4px solid  #0096e6;
			height: 59px;
			&>a{
				color: #0096e6;
			}
		}
	}

}
