@mixin bg($url){
  background:$url no-repeat;
  background-size:100% 100%;
}
$fontFamily:'Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
.header-nav{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #666;
	position: fixed;
	top: 0;
	z-index: 2000;
	background-color: #fff;
}
.lg-nav{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	.nav-logo{
	height: 60px;
	width: 50px;
	img{
		height: 60px;
		width: 50px;
	}
	margin-right: 25px;
	float: left;
	}
	.nav-list{
		float: left;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		font-family: $fontFamily;
		&>li{
			float: left;
			margin: 0 15px;
			&>a{
				color: #111;
				text-decoration: none;
			}
		}
		.navActive{
			border-bottom:4px solid  #0096e6;
			height: 59px;
			&>a{
				color: #0096e6;
			}
		}
	}

}

/***脚部组件***/
.footer{
	padding: 30px 20px;
	//margin-top: 30px;
	.foot-artist{
		width: 1000px;
		height: auto;
		margin: 0 auto;
	}
	.footer-word{
		float: left;
		width: 590px;
	}
	.footer-link{
		float: left;
		margin-left:40px;
		//line-height: 30px;
		margin-right: 40px;
		text-align: center;
		li{
			    margin-top: 5px;
		}
	}
	.footer-about{
		float: left;
		margin-left: 15px;
		width:100px;
		text-align: center;
	}
}
#container {
	width: 200px;
    height: 300px;
 }  
 .amap-toolbar{
 	   // transform: rotate(90deg);
 }

