/*
*
* 主体样式；朋友圈，注册，忘记密码，问答，微吧,资讯广场etc.
*
*/
/*
*1.注册样式
*/
$fontFamily:'Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
@mixin bg($url){
  background:$url no-repeat;
  background-size:100% 100%;

}
.resgist-main{
	width: 1000px;
	margin: 0 auto;
	font-size: 14px;
	//background-color: #fff;
	//padding: 30px 40px;
	.main-head{
		width: 100%;
		
		ul{
			
			li{
				float: left;
				background-color: #fff;
				height: 48px;
				line-height: 48px;
				padding: 0 50px;
				color: #0096e6;
				border: #e5e6e7 1px solid;
				border-bottom: none;
			}
		}
	}
	.form-content{
		width: 100%;
		background-color: #fff;
		border: 1px solid #e5e6e7;
		padding: 30px 40px;
		border-top: none;
	}

}
/*
*1.忘记密码样式
*
*/
.set-pswd{
	width: 1000px;
	margin: 0 auto;
	.pswd-main{
		padding: 30px 40px;
		background-color: #fff;
		border: 1px solid #e5e6e7;
		.main-content{
			h3{
				font-size: 20px;
				color: #333;
			}
			
		}
	}
}
/*
*
*朋友圈样式
*
*/
.firend-total{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	font-family: $fontFamily;
	.friend-noLogin{
		padding: 20px;
		background-color: #fffbe1;
		.isLogin-word{
			font-size: 16px;
			float: left;
			line-height: 32px;
		}
		.isLogin-regist{
			font-size: 14px;
		    float: right;
		    height: 32px;
		    line-height: 32px;
		    background-color: #0096e6;
		    padding: 0 25px;
		    color: #fff;
		    text-align: center;
		    border-radius: 2px;
		    margin-right: 40px;
		    cursor: pointer;
		}
		.isLogin-fastLogin{
			font-size: 14px;
			float: right;
			margin-top: 4px;
		}
	}
	.noLogin-bg{
		height: 72px;
		width: 1000px;
		@include  bg(url('../image/art-1.png'));
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.main-content{
		width: 100%;
		height: auto;
		.left-main{
			width: 700px;
			margin-right: 20px;
			float: left;
			.main-share{
				.diy-share-cont{
					border-right: 1px solid #d1d2e0;
					border-top: 1px solid #d1d2e0;
					border-bottom:1px solid #d1d2e0;
					background-color: #fff;
					li{
						float: left;
						height: 158px;
						width: 232px;
						border: 1px solid #d1d2e0;
						border-right: none;
						border-top: none;
					     border-bottom:none;
						box-sizing:border-box;
						padding: 10px 5px;
						text-align: center;
						&:hover{
							    background: #f1f2f3;
   								cursor: pointer;
						}
						i{
							// @include bg(url('../image/index-ico.png'));
							background-image: url('../image/index-ico.png');
							background-repeat: no-repeat;
						
							width: 72px;
							height: 72px;
							display: inline-block;
							vertical-align: middle;
							margin-top: 15px;

							&.i-sharing{
								background-position: -173px 0px;
							}
							&.i-circle{
								background-position: -173px -78px;
							}
							&.i-article{
								background-position: -173px -165px;
							}
						}
						span{
							margin-left: 15px;
    						font-size: 20px;
						}
						p{
							    margin-top: 15px;
						}
					}
				}
			}
			.main-car{
				margin-top: 20px;
			}
		}
		.right-main{
			width: 280px;
			float: left;
		}
	}

}

	.tab-nav-list{
		min-height: 100px;
		width: 94%;
		padding: 0 3%;
		border-bottom: 1px solid #f3f3f3;
		margin: 0 auto;
		position: relative;
		&:last-child{
			border-bottom: none;
		}
		dl{
			dd,dt{
				float: left;
			}
			.dd-con{
				margin-left: 10px;
				width: 78%;
			}
			.dd-con-detail{
				margin-top: 5px;
				//width: 78%;

			}
			.dd-img-list{
				padding-top: 10px;

				li{
					float: left;
					padding: 5px 3px 0;
					img{
						height: 100px;
						width: 100px;
					}
				}
			}
			.dd-detail-end{
				margin:15px 0;

				a,em{
					font-size: 12px;
					color: #999;
				}
				.dd-end-left{
					em{
						margin-left: 15px;
					}
				}
				.dd-detail-right{
					position: absolute;
					right: 0;
					em,a{
						padding:0 5px;
					}
				}
			}
		}
	}
	.right-sign{
		width: 280px;
		height: 70px;
		cursor: pointer;
		@include bg(url('../image/sign-in.png'));
		.sign-total{
			width: 100%;
			padding-left: 26%;
			font-size: 14px;
			li{
				float: left;
			}
			.sign-date{
				margin-top: 10px;
				p:last-child{
					margin-top: 5px;
				}
			}
			.sign-play{
				width: 80px;
				height: 35px;
				color: #5d84dc;
				font-size: 20px;
				text-align: center;
				line-height: 35px;
				margin-top: 15px;
				margin-left: 15px;
			}
			.sign-day{
				margin-top: 8px;
				 margin-left: 15px;
   				 text-align: center;
				p{
					&:first-child{
						font-size: 14px;
					}
					&:last-child{
						font-size: 20px;
						color: #5d84dc;
					}
				}
			}
		}
	}